.btn{
    display: inline-block;
    border: 2px solid;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;

}

.btn-block{
    display: block;
    width: 100%;
}

header a.btn {
    position: relative;
}

header a span{
    position: absolute;
    top: 0;
    right: 0;
}