.valoracion {color: hsl(16, 100%, 55%)}

.cards-home{
    display: flex;
    gap: 24px;
}

.card{
    border-radius: 16px;
    overflow: hidden;
    background: white;
}

.card img{
    max-width: 100%;
}

.card .contenido{ 
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card .contenido .top{
    display: flex;
    justify-content: space-between;
}

.card h4,
.card p{
    margin: 0;
}

.card .valoracion{ 
    color: var(--gris);
}

.card .valoracion .bi{
    margin-right: 4px;
}

.card .contenido .actions{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.card .contenido .actions .carrito{
    width: 100%;
}