#contentItemsCarrusel{
    height: 400px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 5px;
}
.itemCarrusel{
    height: 100%;
    position: relative;
}

.tarjetaCarrusel{
    background-color: rgba(0, 255, 255, 0.701);
    height: 100%;
}
.tarjetaCarrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flechasCarrusel i{
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.712);
}

#tarjetaCarrusel-1{
    background-color: rgb(110, 110, 236);
}
#tarjetaCarrusel-2{
    background-color: rgb(110, 188, 236);
}
#tarjetaCarrusel-3{
    background-color: rgb(198, 110, 236);
}

#contentPoints{
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 3º0px;
    color: black;
    display: flex;
    justify-content: center;
}
