body{
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    background-color: rgb(232, 232, 232);
}

.wrap{
    max-width: 1400px;
    padding: 0 16px;
    margin: 0 auto;
  }

/* Estilo para la cabecera */
.cabecera {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    margin-bottom: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */

    background: black;

}

.cabecera a{
    text-decoration: none;
    font-weight: bolder;
    border: 2px;
    padding: 16px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    background: #e02031;
    box-shadow: inset 13px 13px 26px #9f1723,
            inset -13px -13px 26px #ff293f;
}

.cabecera i {
    color: white;
}

.logoCabecera{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoCabecera h1{
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    color: white;
}


/* Estilo para el titular de la pagina en la que te sitúes */
.titular{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boton{
    text-decoration: none;
    padding: 16px;
    margin: 32px;
    color: black;
    font-weight: bold;
    border: 3px solid;
    border-color:#e02031;
    border-radius: 15px;
    background: rgb(232, 232, 232);
    box-shadow: inset 5px 5px 10px #aaaaaa,
            inset -5px -5px 10px #ffffff;
    
}


main {
    margin-top: 160px; /* Ajusta según la altura de la cabecera */
}
main h2 {
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
    font-size: 40px;
}

/* .boton{
    color: black;
    border-radius: 8px;
    background: rgb(232, 232, 232);
    box-shadow: inset 5px 5px 10px #d3d3d3,
    inset -5px -5px 10px #ededed;
} */

/* Estilo del footer */
footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    color: white;
    margin: 0 0 0 0;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    gap: 30px;
}
.bloqueEnlaces{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
}
.bloque{
    display: flex;
    flex-direction: column;
}