body {
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    background-color: white;
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 1400px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Estilo para la cabecera */
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
    background: black;

}

.cabecera a {
    text-decoration: none;
    font-weight: bolder;
    border: 2px;
    padding: 16px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    background: #e02031;
    box-shadow: inset 13px 13px 26px #9f1723,
        inset -13px -13px 26px #ff293f;
}


.logoCabecera {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 15px;
    margin-left: 15px;
    align-items: center;
    padding: 5px 0;
}

.logoCabecera h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    color: white;
}

.buscador{
    padding: 10px 200px 10px 10px;
}

/* Estilo para la barra de navegacion */
.navegacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 24px;
    background-color: rgb(224, 2, 20);
    left: 0;
    right: 0;
    gap: 20px;
    z-index: 999;
}

.navegacion a{
    text-decoration: none;
    font-family: 'Lobster';
    font-size: 18px;
    color: black;
    border-right: 2px solid;
    padding: 10px;
    
}
#nav0 {
    border-right: 0;
}
#nav00 {
    border-right: 0;
}

/* Estilo para el titular de la pagina en la que te sitúes */
.titular {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boton {
    text-decoration: none;
    padding: 16px;
    margin: 32px;
    color: black;
    font-weight: bold;
    border: 3px solid;
    border-color: #e02031;
    border-radius: 15px;
    background: rgb(232, 232, 232);
    box-shadow: inset 5px 5px 10px #aaaaaa,
        inset -5px -5px 10px #ffffff;

}

main {
    margin-top: 160px;
    /* Ajusta según la altura de la cabecera */
}

main h2 {
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
    font-size: 40px;
}

/* .boton{
    color: black;
    border-radius: 8px;
    background: rgb(232, 232, 232);
    box-shadow: inset 5px 5px 10px #d3d3d3,
    inset -5px -5px 10px #ededed;
} */

/* Estilo del footer */
footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    color: white;
    
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    gap: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer form a svg{
    width: 50px;
    height: 50px;
}

.bloqueEnlaces {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.bloque {
    display: flex;
    flex-direction: column;
}