/* Estilo para las ventajas que obtiene el cliente */

.ventajas{
    display: flex;
    justify-content: space-around;
    margin:42px;
}
.cardVentajas{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
    gap: 24px;
    padding: 10px 30px;

    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #aaaaaa,
            inset -5px -5px 10px #ffffff;

}

.cardVentajas i{
    font-size: 50px;
}
.cardVentajas p{
    font-size: 18px;
}